body {
    font: 14px'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    margin: 10 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
input[type="button"] {
    width: 150px;
    color: #4d4d4d;
    background-color: #e5e5ff;
}
input[type="number"] {
    width: 50px;
    color: #4d4d4d;
    background-color: #e5e5ff;
}
button {
    width: 100px;
    color: #4d4d4d;
}
.highlight {
    color: #0000ff;
    font-weight: bold;
}
.header {
    font-weight: bold;
    background-color: #8888ff;
}
table {
    border-width: 3px;
    border-collapse: collapse;
    background-color: #e5e5ff;
}
div {
    display: inline;
    padding: 15px;
}
#firebaseUrl {
    width: 300px;
}